/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first-color: #9792e4;
    --secondary-color: #0084fd;
    --secondary-color-light: #b5ddff;
}
/* common  */
.container{
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col{
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
}
/* typo  */
#demo h4{
    color: var(--secondary-color);
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
}
#demo p{
    color: #5a6e7f;
    font-size: .75rem;
}
#demo i{
    font-size: 5rem;
    padding-bottom: 1.875rem;
    color: var(--secondary-color);
}
/* header  */
header {
    background-color: var(--secondary-color);
}
header .main-nav{
    display: none;
}
.main-nav li{
    list-style: none;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
    padding-left: 2rem;
}
header li a{
    text-decoration: none;
    color: white;
    font-size: .875rem;
}
.button{
    background-color: white;
    color: black;
    padding: .75rem 1rem;
    border-radius: 20px;
}
.logo img{
    height: 2rem;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
}
.burger{
    height: 1.125rem;
    color: white;
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
}
/* main  */
#demo .col{
    background-color: var(--secondary-color-light);
    padding: 2rem 1.625rem 2.5rem;
    border-radius: .625rem;
}
#demo .col-double{
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-top: 3.125rem;
}
#demo .col-double p{
    margin-bottom: 2.5rem;
}
#demo a{
    font-size: .75rem;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    padding: .875rem 3rem;
    border-radius: 1.25rem;
}
#demo a i{
    font-size: .875rem;
    color: white;
}
#demo img{
    width: 196px;
    display: block;
    margin: 0 auto;
}
.col-debug{
    height: 200px;
}
#strategic{
    background-color: var(--first-color);
}
#testimonials .col:not(:first-child){
    background-color: var(--first-color);
}
#benefits{
    background-color: var(--first-color);
}
#benefits .col{
    background-color: white;
}
#get-started{
    background-color: var(--first-color);
}
.prefooter{
    width: 100%;
}
/* footer  */
footer{
    background-color: #333333;
}
/* media  */
@media screen and (min-width: 768px) {
    #demo .col{
        width: calc((100% /3 ) - 1.5rem);
    } 
    #demo .col:first-child{
        width: calc(((100%/ 3 ) * 2 ) - .75rem );
    }
    #demo .col:nth-child(2){
        margin-top: 3.125rem;
    }
    #demo .col-double{
        flex-wrap: nowrap;
    }
    #demo .col-double div{
        width: 50%;
    }
    #demo .col-double div:last-child{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    #benefits .col{
        width: calc(100% / 2 - 1.5rem);
    }
    #about-us .col:first-child{
        width: 60%;
    }
    #about-us .col:last-child{
        width: 40%;
    }
    .prefooter{
        width: 80%;
        margin: 0 auto;
    }
    .container-footer{
        width: 70%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px) {
    header .main-nav{
        display: block;
    }
    header .burger{
        display: none;
    }
    #strategic .row{
        width: 80%;
        margin: 0 auto;
    }
    #strategic .col{
        width: calc(100% / 2 - 5rem);
    }
    #benefits .col{
        width: calc(100% / 3 - 1.5rem);
    }
    #about-us .col:first-child{
        width: 70%;
    }
    #about-us .col:last-child{
        width: 30%;
    }
    .prefooter{
        width: 50%;
        margin: 0 auto;
    }
    .container-footer{
        width: 40%;
        margin: 0 auto;
    }
}
